@import "tailwindcss";

@plugin "daisyui";

body {
  background-color: oklch(25.33% 0.016 252.42);
}

a.active {
  color: white;
  font-weight: bolder;
}

.Logo:hover {
  color: white;
}

.Background-Image-1 {
  background-image: url("../../../../public/Images/Outline-Style.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 1%;
  background-position-y: 12%;
}

.Dots-Image-1 {
  position: relative;
  width: 85px;
  height: 85px;
  right: 10%;
  top: 85px;
}

.Background-Image-2 {
  background-image: url("../../../../public/Images/Outline-Style.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 1%;
  background-position-y: 15%;
}

.Dots-Image-2 {
  position: relative;
  width: 85px;
  height: 85px;
  right: -80%;
  top: -90px;
}

button {
  height: 37px;
  width: 148px;
  border: 2px solid #C778DD;
  border-radius: 5px;
}

button:hover {
  background-color: #C778DD;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}

.reletive-quote_man-image {
  position: relative;
  top: 13px;
}

.projects-btn {
  border: none;
}

.projects-btn:hover {
  color: whitesmoke;
  background-color: #282C33;
}

.Link-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 148px;
  border: 2px solid #C778DD;
  border-radius: 5px;
}

.Link-Button:hover {
  background-color: #C778DD;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}